.NavButton {
  z-index:8000;
  position:fixed;
  right:2px;
  top:50px;
}

.NavButton img {
  opacity:2;
  width:32px;
  height:32px;
  -webkit-transition:all .6s ease;
  -moz-transition:all .6s ease;
  -o-transition:all .6s ease;
  transition:all .6s ease;
}

.NavButton:hover img {
  width:40px;
  height:40px;
  margin-top:-4px;
}

.CustomContent,#profile_password_photo_galleries > .profile_section_content,#profile_photo_galleries > .profile_section_content,#profile_comments > .profile_section_content,.startAnimFadeIn,#profile_header_container,#profile_header_container .heading,#cam_score_container,#profile_friends,.NavButton,.carousel {
  opacity:1;
  animation:FadeIn 1s linear;
}

/* Hide & disable MFC stuff {{{ */
body {
  padding:0;
  margin:0;
}

#header_bar,#profile_main_photo,#profile_about_me > .heading,#username_container,#gender_container,#body_type_container,#ethnicity_container,#hair_container,#eyes_container,#weight_container,#height_container,#age_container,#city_container,#country_container,#sexual_preference_container,#smoke_container,#drink_container,#drugs_container,#marital_status_container,#occupation_container,#school_container,#favorite_food_container,#tags_container,#pets_container,#automobile_container,#about_me_label,#profile_interests_content .heading,#profile_interests_content .label,#five_things_container,#favorite_books_container,#for_fun_container,#favorite_songs_container,#favorite_movies_container,#craziest_thing_container,#be_anywhere_container,#hobbies_container,#talents_container,#perfect_mate_container,#perfect_date_container,#turn_ons_container,#know_me_container,#footer_bar {
  display:none;
}

#last_login_string_container {
  display:none;
}

#unix_last_updated_container {
  display:none;
}

.profile_section_content {
  margin:0;
  padding:0;
  z-index:auto;
}

.profile_section {
  border-spacing:0;
}

.CustomContent div > p:first-child {
  margin-top:0;
}

.CustomContent div > p:last-child {
  margin-bottom:0;
}

.profile_row,.profile_section,#profile_friends.profile_subsection,#meaning_life_container {
  display:block;
}

.hidden {
  display:none;
}

#profile_interests_content .container,#profile_interests_content .value {
  margin:0;
}

.ImageContainer {
  position:relative;
}

.ImageContainer img {
  position:absolute;
  display:block;
}

.ImageContainer a {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:30;
  background:rgba(0,0,0,0);
}

.ImageContainer .Text {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:20;
  text-align:left;
}

.ImageContainer>.HoverOff {
  -webkit-transition:.75s ease-in;
  transition:.75s ease-in;
  opacity:1;
  -webkit-animation:none!important;
  -moz-animation:none!important;
  -o-animation:none!important;
  animation:none!important;
  z-index:20;
}

.ImageContainer:hover>.HoverOff {
  opacity:0;
}

.ImageContainer>.HoverOn {
  -webkit-transition:.75s ease-in;
  transition:.75s ease-in;
  opacity:0;
  -webkit-animation:none!important;
  -moz-animation:none!important;
  -o-animation:none!important;
  animation:none!important;
  z-index:20;
}

.ImageContainer:hover>.HoverOn {
  opacity:1;
}

.ImageContainer>.Background {
  opacity:1;
  -webkit-animation:none!important;
  -moz-animation:none!important;
  -o-animation:none!important;
  animation:none!important;
  z-index:10;
}

.ImageContainer.ImageCount1.Fast>img:nth-of-type(1),.ImageContainer.ImageCount2.Fast>img:nth-of-type(1),.ImageContainer.ImageCount3.Fast>img:nth-of-type(1),.ImageContainer.ImageCount4.Fast>img:nth-of-type(1),.ImageContainer.ImageCount5.Fast>img:nth-of-type(1),.ImageContainer.ImageCount6.Fast>img:nth-of-type(1),.ImageContainer.ImageCount7.Fast>img:nth-of-type(1),.ImageContainer.ImageCount8.Fast>img:nth-of-type(1),.ImageContainer.ImageCount9.Fast>img:nth-of-type(1) {
  -webkit-animation-delay:0;
  -moz-animation-delay:0;
  -o-animation-delay:0;
  animation-delay:0;
  z-index:19;
}

ul.Rulez (
font-size:13px;
)
ul.Rulez>li:not(last-child) {
  margin-bottom:6px;
}  
}

ul.Grid {
  overflow:auto;
  text-align:justify;
  max-height:150vh;
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:10px;
}

ul.Grid>li {
  display:inline-block;
  vertical-align:top;
  font-size:medium;
  position:relative;
}

ul.Grid::after {
  content:'';
  display:inline-block;
  width:100%;
  visibility:hidden;
}

@keyframes carouselanim {
  0% {
    transform:translateX(322px) rotateX(30deg) translateZ(-2308.52199px) rotateY(0deg) translateZ(2308.52199px) rotateX(-30deg);
    z-index:5;
    opacity:1;
  }
  
  25% {
    transform:translateX(322px) rotateX(30deg) translateZ(-2308.52199px) rotateY(90deg) translateZ(2308.52199px) rotateX(-30deg);
    z-index:4;
    opacity:.5;
  }
  
    50% {
    z-index:1;
    opacity:.25;
  }
  
    75% {
    transform:translateX(322px) rotateX(30deg) translateZ(-2308.52199px) rotateY(270deg) translateZ(2308.52199px) rotateX(-30deg);
    z-index:4;
    opacity:.5;
  }
  100% {
    transform:translateX(322px) rotateX(30deg) translateZ(-2308.52199px) rotateY(360deg) translateZ(2308.52199px) rotateX(-30deg);
    z-index:5;
    opacity:1;
  }
  

  

  

}

.carousel {
  position:relative;
  width:1064px;
  height:540px;
  perspective:475px;
}

.carousel img {
  transform:translateX(322px);
  position:absolute;
  border:15px white;
  border-radius:5px;
  border-style:solid;
  animation:carouselanim 90s linear infinite;
}

.carousel img:nth-child(1) {
  animation-delay:0;
  display:block;
}

.carousel img:nth-child(2) {
  animation-delay:-3s;
  display:block;
}

.carousel img:nth-child(3) {
  animation-delay:-6s;
  display:block;
}

.carousel img:nth-child(4) {
  animation-delay:-9s;
  display:block;
}

.carousel img:nth-child(5) {
  animation-delay:-12s;
  display:block;
}

.carousel img:nth-child(6) {
  animation-delay:-15s;
  display:block;
}

.carousel img:nth-child(7) {
  animation-delay:-18s;
  display:block;
}

.carousel img:nth-child(8) {
  animation-delay:-21s;
  display:block;
}

.carousel img:nth-child(9) {
  animation-delay:-24s;
  display:block;
}

.carousel img:nth-child(10) {
  animation-delay:-27s;
  display:block;
}

.carousel img:nth-child(11) {
  animation-delay:-30s;
  display:block;
}

.carousel img:nth-child(12) {
  animation-delay:-33s;
  display:block;
}

.carousel img:nth-child(13) {
  animation-delay:-36s;
  display:block;
}

.carousel img:nth-child(14) {
  animation-delay:-39s;
  display:block;
}

.carousel img:nth-child(15) {
  animation-delay:-42s;
  display:block;
}

.carousel img:nth-child(16) {
  animation-delay:-45s;
  display:block;
}

.carousel img:nth-child(17) {
  animation-delay:-48s;
  display:block;
}

.carousel img:nth-child(18) {
  animation-delay:-51s;
  display:block;
}

.carousel img:nth-child(19) {
  animation-delay:-54s;
  display:block;
}

.carousel img:nth-child(20) {
  animation-delay:-57s;
  display:block;
}

.carousel img:nth-child(21) {
  animation-delay:-60s;
  display:block;
}

.carousel img:nth-child(22) {
  animation-delay:-63s;
  display:block;
}

.carousel img:nth-child(23) {
  animation-delay:-66s;
  display:block;
}

.carousel img:nth-child(24) {
  animation-delay:-69s;
  display:block;
}

.carousel img:nth-child(25) {
  animation-delay:-72s;
  display:block;
}

.carousel img:nth-child(26) {
  animation-delay:-75s;
  display:block;
}

.carousel img:nth-child(27) {
  animation-delay:-78s;
  display:block;
}

.carousel img:nth-child(28) {
  animation-delay:-81s;
  display:block;
}

.carousel img:nth-child(29) {
  animation-delay:-84s;
  display:block;
}

.carousel img:nth-child(30) {
  animation-delay:-87s;
  display:block;
}

.carousel img {
  width:320px;
  height:427px;
  image-rendering:optimizeQuality;
}

#profile,.CustomRow {
  width:964px;
  margin:0 auto;
}

.CustomContent,#profile_password_photo_galleries > .profile_section_content,#profile_photo_galleries > .profile_section_content,#password_photo_galleries .profile_section_content,#photo_galleries .profile_section_content,#profile_comments > .profile_section_content {
  margin:0;
  padding:0 5px;
  overflow:hidden;
  color:#fff;
}

.CustomContent .Header,#profile_password_photo_galleries .heading,#profile_photo_galleries .heading,#password_photo_galleries .heading,#photo_galleries .heading,#profile_comments .heading {
  font-family:'Comic Sans MS',Arial,'Verdana';
  font-size:75px;
  text-shadow:0 0 10px #fff,0 0 20px #fff,0 0 30px #ff00de,0 0 40px #ff00de,0 0 50px #ff00de,0 0 60px #ff00de,0 0 65px #ff00de,0 0 70px #ff00de;
}

.cards {
  position:relative;
}

.snappy {
  font-size:15px;
  font-weight:bold;
  text-shadow:0 0 1px #fff,0 0 3x #fff,0 0 9px #fff,0 0 5px #ff00de,0 0 8px #ff00de,0 0 10px #ff00de,0 0 13px #ff00de,0 0 15px #ff00de;
}

.aces {
  font-size:28px;
  font-weight:bold;
  text-shadow:0 0 5px #fff,0 0 8px #fff,0 0 9px #fff,0 0 12px #ff00de,0 0 15px #ff00de,0 0 20px #ff00de,0 0 25px #ff00de,0 0 28px #ff00de;
}

.CustomContent .Footer {
  margin:10px -25px -20px;
  padding:0 25px;
  background:#cc00cc;
  font-family:'Comic Sans MS',Arial,'Verdana';
  font-size:28px;
  font-weight:normal;
  line-height:35px;
  color:#fff;
}

.CustomContent .Header a,#profile_password_photo_galleries .heading a,#profile_photo_galleries .heading a,#password_photo_galleries .heading a,#photo_galleries .heading a,#profile_comments .heading a,.CustomContent .Footer a {
  color:#fff;
}

#profile_header {
}

.CustomRow::before,#profile_friends::before,#profile_password_photo_galleries::before,#password_photo_galleries::before,#profile_photo_galleries::before,#photo_galleries::before {
  display:block;
  content:" ";
  margin-top:-55px;
  height:55px;
  visibility:hidden;
}

#profile_header::after,.CustomRow::after,#profile_password_photo_galleries::after,#password_photo_galleries::after,#profile_photo_galleries::after,#photo_galleries::after {
  display:block;
  content:" ";
  height:55px;
  visibility:hidden;
}

#profile_friends {
  margin-bottom:10px;
}

#profile_header_container .heading {
  font-family:'Comic Sans MS','Arial Narrow',Arial,sans-serif;
  font-size:30px;
}

#profile_header .label,#profile_header .value {
  font-size:20px;
  text-shadow:0 0 3px #fff,0 0 5px #fff,0 0 7px #ff00de,0 0 10px #ff00de,0 0 15px #ff00de,0 0 17px #ff00de,0 0 20px #ff00de;
}

body {
  padding-right:45px;
  color:#000;
  font-family:'Comic Sans MS','Arial Narrow',Arial,sans-serif;
  font-size:17px;
  font-weight:400;
  font-style:normal;
  font-color:ff00de;
  background-color:#000000;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:65%;
  background-image:url(xonbg.jpg);
  opacity:.75;
}

.xon {
  font-family:'Comic Sans MS','Arial Narrow',Arial,sans-serif;
  font-size:20px;
}

.Grid::-webkit-scrollbar {
  -webkit-appearance:none;
  width:13px;
  height:13px;
  background-color:rgba(255,255,255,.5);
}

.Grid::-webkit-scrollbar-thumb {
  border-radius:8px;
  border:2px solid rgba(255,255,255,.5);
  background-color:rgba(255,133,182,.5);
}

#ProfileImage {
}

#profile_header {
  position:absolute;
  width:964px;
  height:540px;
  z-index:100;
}

#avatar_holder,#blurb_container,#member_type_value,#member_message_value,#show_message_dialog,#status_value > a {
  display:none;
}

#profile_header_container .heading {
  font-family:'Comic Sans MS','Arial Narrow',Arial,sans-serif;
  font-size:45px;
  position:absolute;
  top:10px;
  left:20px;
  color:#fff;
  text-shadow:0 0 10px #fff,0 0 15px #fff,0 0 20px #fff,0 0 25px #ff00de,0 0 30px #ff00de,0 0 35px #ff00de,0 0 40px #ff00de,0 0 45px #ff00de;
  z-index:100;
  padding:0;
}

#profile_header_container {
  margin-left:0;
  min-height:0;
  display:inline-block;
  background:rgba(255,255,255,.5);
  padding:5px 10px;
  border-radius:5px;
  margin-top:95px;
  margin-left:20px;
  font-size:14px;
  color:#000;
}

#profile_header_container .value,#cam_score_container .value {
  padding-left:1em;
}

#profile_header #status_value {
  color:transparent;
}

#profile_header span {
  color:#000;
}

#cam_score_container {
  position:absolute;
  background:rgba(255,255,255,.5);
  padding:5px 10px;
  border-radius:5px;
  top:440px;
  left:20px;
  margin:0;
  z-index:100;
  font-size:12px;
  color:#000;
}

#cam_score_container span {
  min-width:0;
}

#profile_friends {
  position:absolute;
  top:110px;
  right:55px;
  z-index:100;
  font-size:12px;
  color:#000;
  background:rgba(255,255,255,.5);
  padding:5px 10px;
  border-radius:5px;
  margin:0;
}

#profile_friends .label {
  min-width:0;
}

#profile_friends .value {
  padding-left:1em;
}

#profile_friends .heading,#friends_value,#favorite_models_container {
  display:none;
}

#average_rating_count {
  display:block;
}

.TipMenu .ImageContainer {
  border-collapse:separate;
  width:437px;
  height:108px;
  background:rgba(255,255,255,.3);
  border-radius:5px;
  margin:4px;
  overflow:hidden;
  -webkit-transition:all .6s ease;
  -moz-transition:all .6s ease;
  -o-transition:all .6s ease;
  transition:all .6s ease;
}

.TipMenu .ImageContainer:hover {
  background:rgba(255,255,255,.5);
  -ms-transform:translate(0px,-3px);
  -webkit-transform:translate(0px,-3px);
  transform:translate(0px,-3px);
  box-shadow:rgba(0,0,0,.5) 0 3px 5px 3px;
}

.TipMenu img {
  width:192px;
  height:108px;
  top:0;
  left:0;
}

.TipMenu .Text,.TipMenu .Buttons {
  left:197px;
  top:5px;
  bottom:2px;
  right:5px;
  font-size:12px;
}

.TipMenu .Text h1 {
  font-size:14px;
  font-weight:bold;
  margin:0;
}

.TipMenu .Buttons {
  top:auto;
  text-align:right;
  text-space-collapse:collapse;
  font-size:12px;
}

.TipMenu .Buttons span {
  background:rgba(255,0,101,.5);
  color:#fff;
  padding:0 5px 1px;
  border-radius:5px;
  line-height:11px;
  margin-left:5px;
}

.TipMenu .ImageContainer:hover .Buttons span {
  background:rgba(255,0,101,1);
}

.TipMenu ul.Grid {
  overflow-y:auto;
  heigth:960px;
  width:1440px;
}

.VideoGrid .ImageContainer {
  border-collapse:separate;
  width:304px;
  height:175px;
  background:rgba(255,255,255,.5);
  border-radius:5px;
  margin:4px;
  overflow:hidden;
}

.VideoGrid img {
  width:304px;
  height:175px;
  top:0;
  left:0;
  -webkit-transition:all .6s ease;
  -moz-transition:all .6s ease;
  -o-transition:all .6s ease;
  transition:all .6s ease;
}

.VideoGrid .ImageContainer:hover img {
  transform:scale(1.3) rotateZ(10deg);
}

.VideoGrid .Text,.VideoGrid .Buttons {
  left:7px;
  top:5px;
  bottom:5px;
  right:7px;
  font-size:12px;
}

.VideoGrid .Text h1 {
  font-size:14px;
  font-weight:bold;
  margin:0;
  background:rgba(255,0,111,1);
  padding:2px 5px;
}

.VideoGrid .Buttons {
  top:auto;
  text-align:right;
  text-space-collapse:collapse;
}

.VideoGrid .Buttons > span {
  background:#ff0065;
  color:#fff;
  padding:2px 5px;
  border-radius:5px;
  line-height:16px;
  margin-left:5px;
}

.VideoGrid ul.Grid {
  overflow-y:scroll;
}

.VideoGrid .Information {
  z-index:31;
  right:25%;
  text-align:left;
  text-space-collapse:collapse;
}

.VideoGrid .Information {
  top:55px;
}

.VideoGrid .Information div {
  position:absolute;
  top:0;
  left:0;
  width:16px;
  height:16px;
  background:center center no-repeat;
  background-size:16px 16px;
}

.VideoGrid .Information div {
  background-image:url(info.png);
}

.VideoGrid .Information ul {
  list-style:none;
  padding:0;
  display:inline-block;
  margin-left:17px;
  min-width:0;
  min-height:16px;
}

.VideoGrid .Information div:hover+ul {
  border-radius:5px 5px 5px 5px;
  margin-left:21px;
  background:rgba(0,0,0,.25);
  padding:2px 5px;
  border:1px solid rgba(255,255,255,.5);
}

.VideoGrid .Information div+ul li,.VideoGrid .Information div:hover+ul li:first-child {
  display:none;
}

.VideoGrid .Information div+ul li:first-child,.VideoGrid .Information div:hover+ul li {
  display:inline-block;
}

.VideoGrid .Information li {
  min-height:16px;
}

.VideoGrid .Information li:first-child:after,.VideoGrid .Information li:last-child:after {
  content:"";
}

.Columns5 {
  -webkit-column-count:5;
  -moz-column-count:5;
  column-count:5;
  -webkit-column-gap:40px;
  -moz-column-gap:40px;
  column-gap:40px;
  -webkit-column-rule:thin inset red;
  -moz-column-rule:thin inset red;
  column-rule:thin inset red;
}

.card_container {
  position: relative;
 
  width: 200px;
  height: 290px;
  
  z-index: 1;
}
.card_container {
  perspective: 500px;
}
.card {
 
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s linear;
 
}
.card_container:hover .card {
  transform: rotateY(180deg);
  
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px white;
  border-radius:8px;
  background-color: white;
  
  opacity:0.75;
  background-size: 200px 290px;
  background-position:center;
  background-repeat:no-repeat;
  background-color: #fff;
  backface-visibility: hidden;
}

.face img {
-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
filter: grayscale(50%);
width: 154px;
height: 244px;
left:18px;
top:18px;
border:5px #ff00de;
border-radius:5px;
border-style:solid;    
}


.face.back {
  
  transform: rotateY(180deg);
  color: white;
  text-align: center;
  border: 5px white;
  border-radius: 8px;
  font-size:20px;
  font-color:000000;
  text-shadow:0 0 3px #fff,0 0 4px #fff,0 0 5px #fff,0 0 6px #ff00de,0 0 9px #ff00de,0 0 13px #ff00de,0 0 17px #ff00de,0 0 20px #ff00de;
}

